
      <ion-popover-view>
        <ion-content>
          <div class="list">


              <a class="item item-icon-left " ng-controller="LoginCtrl" data-ng-click="logout();closePopover($event)">
                <i class="fa fa-sign-out"></i>
                Logout
              </a>

            <a class="item" ui-sref="home_landing">
              Playlist
            </a>
            <a class="item" ui-sref="historique">
              Historique
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
