/* Empty. Add your own CSS if you like */
.button.on {
	background-color: 	green
}
.item-options .icon {
	line-height: 100px;
	vertical-align: middle;
}

.t-a-r{
	position: 	absolute;	
	right: 	5px;
}
.border-rad-5{
	border-radius: 	5px;
}

.ng-animate {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;	
}

.activated {
	opacity: 1;
}

.ng-hide {
	opacity: 0;
}
.pane, .view{
	top:44px;
}
#placeholder{
	position:absolute;
	top:44px;
	height: 0px;
}
.has-header {
top: 0px;
}
/* Fade In */
@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@-moz-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@-o-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

/* Fade Out */
@keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}


.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { -webkit-transform :translateY(-100%); }
  to { -webkit-transform :translateY(0); }
}
@keyframes enter_sequence {
  from { transform :translateY(-100%); }
   to { transform :translateY(0); }
}

.focus-animation {
  background:#eee;
}

.focus-animation.on-add,
.focus-animation.on-remove {
  -webkit-transition:0.1s linear all;
  transition:0.1s linear all;
}

.focus-animation.on {
  background:red;
}

.focus-animation.on-add-stagger,
.focus-animation.on-remove-stagger {
  -webkit-transition-delay:0.03s;
  transition-delay:0.03s;
  -webkit-transition-duration:0;
  transition-duration:0;
}
